In [25]:
'''
     Pandas数据结构Dataframe：基本技巧

    数据查看、转置 / 添加、修改、删除值 / 对齐 / 排序
'''

'\n     Pandas数据结构Dataframe：基本技巧\n\n    数据查看、转置 / 添加、修改、删除值 / 对齐 / 排序\n'

In [26]:
import numpy as np
import pandas as pd

In [27]:
# 数据查看、转置
# .head()查看头部数据
# .tail()查看尾部数据
# 默认查看5条

df = pd.DataFrame(np.random.rand(12).reshape(6,2)*100,
                   columns = ['a','b'])
print(df)
print('-------------------------')

# .head()查看头部数据
print('df.head():',df.head(),sep='\n')  # 默认查看5条

# .tail()查看尾部数据
print('df.tail():',df.tail(),sep='\n')  # 默认查看5条

# .T 转置
print('装置:',df.T,sep='\n')

           a          b
0  46.273141  53.521861
1  88.224790  95.663311
2  66.661347  31.053160
3  97.399907  41.232907
4  93.898176  71.052759
5  51.513911  41.921510
-------------------------
df.head():
           a          b
0  46.273141  53.521861
1  88.224790  95.663311
2  66.661347  31.053160
3  97.399907  41.232907
4  93.898176  71.052759
df.tail():
           a          b
1  88.224790  95.663311
2  66.661347  31.053160
3  97.399907  41.232907
4  93.898176  71.052759
5  51.513911  41.921510
装置:
           0          1          2          3          4          5
a  46.273141  88.224790  66.661347  97.399907  93.898176  51.513911
b  53.521861  95.663311  31.053160  41.232907  71.052759  41.921510

In [28]:
# 添加与修改
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)
print('-------------------------')

# 列添加
df['e'] = 10
print('列添加结果:',df,sep='\n')

# 行添加
df.loc[5] = 5
print('行添加结果:',df,sep='\n')

# 修改
df[['a','c']] = 100
print('列修改结果:',df,sep='\n')

df.loc[[1,3]] = 200
print('行修改结果:',df,sep='\n')

# 将列表或数组赋值给某个列时，其长度必须跟DataFrame的长度相匹配。
# 如果赋值的时一个Series，则会精确匹配DataFrame的索引，所有空位都将被填上缺失值
s = pd.Series([1,2,3], index=[2,3,1])
df['new'] = s
print('将列表或数组赋值给某个列:',df,sep='\n')

           a          b          c          d
0  35.088945  52.618756  98.014476  60.101203
1  19.441815  38.285228  69.597129  42.780308
2  33.389042   3.817104  38.742897  80.085088
3  44.083907  28.671428  92.636480  80.177648
-------------------------
列添加结果:
           a          b          c          d   e
0  35.088945  52.618756  98.014476  60.101203  10
1  19.441815  38.285228  69.597129  42.780308  10
2  33.389042   3.817104  38.742897  80.085088  10
3  44.083907  28.671428  92.636480  80.177648  10
行添加结果:
           a          b          c          d   e
0  35.088945  52.618756  98.014476  60.101203  10
1  19.441815  38.285228  69.597129  42.780308  10
2  33.389042   3.817104  38.742897  80.085088  10
3  44.083907  28.671428  92.636480  80.177648  10
5   5.000000   5.000000   5.000000   5.000000   5
列修改结果:
     a          b    c          d   e
0  100  52.618756  100  60.101203  10
1  100  38.285228  100  42.780308  10
2  100   3.817104  100  80.085088  10
3  100  28.671428  100  80.177648  10
5  100   5.000000  100   5.000000   5
行修改结果:
     a           b    c           d    e
0  100   52.618756  100   60.101203   10
1  200  200.000000  200  200.000000  200
2  100    3.817104  100   80.085088   10
3  200  200.000000  200  200.000000  200
5  100    5.000000  100    5.000000    5
将列表或数组赋值给某个列:
     a           b    c           d    e  new
0  100   52.618756  100   60.101203   10  NaN
1  200  200.000000  200  200.000000  200  3.0
2  100    3.817104  100   80.085088   10  1.0
3  200  200.000000  200  200.000000  200  2.0
5  100    5.000000  100    5.000000    5  NaN

In [29]:
# 删除  
# del 删除会改变原数据
# .drop() 参数nplace=False → 删除后生成新的数据，不改变原数据

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)
print('-------------------------')
del df['a']
print("del df['a']后:",df,sep='\n')  # 只有b c d散列数据


# drop() 删除列 参数axis=1
# data1 = df.drop(['b'])  # 报错
data1 = df.drop(['b'],axis=1)
print('删除b列后:',data1,sep='\n')
print('df未变:',df, sep='\n')
'''
    报错:
    KeyError: "['b'] not found in axis"
    查看源码:
     def drop(self, labels=None, axis=0, index=None, columns=None,
             level=None, inplace=False, errors='raise'):
    原来drop()中 aixs=0,是默认删除行的         
        
'''

# drop 删除行
data2 = df.drop([1,2])
print('删除索引为1,2的行数据:',data2,sep='\n')
print('df未变:',df, sep='\n')

           a          b          c          d
0  20.746174   2.108337  53.654897  33.330863
1  75.668222  43.102076  36.939050  80.360866
2  40.002902  11.530604   7.205150  32.129312
3  64.423157  33.841595  94.480334  22.327999
-------------------------
del df['a']后:
           b          c          d
0   2.108337  53.654897  33.330863
1  43.102076  36.939050  80.360866
2  11.530604   7.205150  32.129312
3  33.841595  94.480334  22.327999
删除b列后:
           c          d
0  53.654897  33.330863
1  36.939050  80.360866
2   7.205150  32.129312
3  94.480334  22.327999
df未变:
           b          c          d
0   2.108337  53.654897  33.330863
1  43.102076  36.939050  80.360866
2  11.530604   7.205150  32.129312
3  33.841595  94.480334  22.327999
删除索引为1,2的行数据:
           b          c          d
0   2.108337  53.654897  33.330863
3  33.841595  94.480334  22.327999
df未变:
           b          c          d
0   2.108337  53.654897  33.330863
1  43.102076  36.939050  80.360866
2  11.530604   7.205150  32.129312
3  33.841595  94.480334  22.327999

In [30]:
# 对齐
# DataFrame对象之间的数据自动按照列和索引（行标签）对齐
# 有共同列和行的数据会相加, 行或者列不同,数据以NaN填充补齐
df1 = pd.DataFrame(np.random.randn(4,5),columns=list('abcde'))
df2 = pd.DataFrame(np.random.randn(3,4),columns=['a','b','three','four'])
print('df1:',df1,sep='\n')
print('df2:',df2,sep='\n')
print('对齐:df1+df2:',df1+df2,sep='\n')

df1:
          a         b         c         d         e
0 -0.379090  1.959584  1.004015 -0.508001  0.716146
1  0.500205 -1.481490 -0.116625  0.900788 -0.674632
2  0.166941  0.343055 -0.885019  0.955943  0.565904
3  2.017430 -0.132209 -2.033689  0.021549 -0.344013
df2:
          a         b     three      four
0  0.724001  2.078301  1.107812 -0.228004
1 -0.733371  0.288378 -1.007956  0.721288
2 -1.200390 -0.043281  0.135267  1.337034
对齐:df1+df2:
          a         b   c   d   e  four  three
0  0.344911  4.037884 NaN NaN NaN   NaN    NaN
1 -0.233167 -1.193113 NaN NaN NaN   NaN    NaN
2 -1.033449  0.299774 NaN NaN NaN   NaN    NaN
3       NaN       NaN NaN NaN NaN   NaN    NaN

In [31]:
# 排序1 - 按值排序 .sort_values() 默认升序
# 同样适用于Series
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)
print('------------------------------')

# 单列排序
# ascending参数：设置升序降序，默认升序
data_sheng = df.sort_values(['a'])
print('按a列的值排序(默认升序),结果:',data_sheng,sep='\n')

data_sheng = df.sort_values(['a'],ascending=False)  # 降序
print('按a列的值排序(降序),结果:',data_sheng,sep='\n')

# 多列排序 按列顺序排序

df2 = pd.DataFrame({'a':[1,1,1,1,2,2,2,2],
                  'b':list(range(8)),
                  'c':list(range(8,0,-1))})
print(df2)
print('-------------------------------')
print('多列排序,按a c两列排:',df2.sort_values(['a','c']))
print('sssssssssss')

           a          b          c          d
0  67.620089  41.404496  66.203988  93.256572
1  56.811512  28.698349   5.441622  11.244606
2  71.550770  13.189563  57.717130  55.079214
3  68.503283  85.001847  93.799145  93.288485
------------------------------
按a列的值排序(默认升序),结果:
           a          b          c          d
1  56.811512  28.698349   5.441622  11.244606
0  67.620089  41.404496  66.203988  93.256572
3  68.503283  85.001847  93.799145  93.288485
2  71.550770  13.189563  57.717130  55.079214
按a列的值排序(降序),结果:
           a          b          c          d
2  71.550770  13.189563  57.717130  55.079214
3  68.503283  85.001847  93.799145  93.288485
0  67.620089  41.404496  66.203988  93.256572
1  56.811512  28.698349   5.441622  11.244606
   a  b  c
0  1  0  8
1  1  1  7
2  1  2  6
3  1  3  5
4  2  4  4
5  2  5  3
6  2  6  2
7  2  7  1
-------------------------------
多列排序,按a c两列排:    a  b  c
3  1  3  5
2  1  2  6
1  1  1  7
0  1  0  8
7  2  7  1
6  2  6  2
5  2  5  3
4  2  4  4
sssssssssss

In [32]:
# 排序2 - 按索引排序 sort_index() 默认升序
# 默认 ascending=True, inplace=False


df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = [5,4,3,2],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = ['h','s','x','g'],
                   columns = ['a','b','c','d'])
# 按照index排序
print(df1)
print('--------------------------------------')
print('df1按照索引排序:',df1.sort_index(),sep='\n')
print('--------------df2:----------------')
print(df2)
print('df2按照索引排序:',df2.sort_index(ascending=False),sep='\n')

           a          b          c          d
5   4.542951  73.361255  81.060015  75.963579
4  78.409482  66.932160  95.032126   4.931172
3  15.206742  66.308490  77.365875  22.834827
2  79.346925   0.764017  14.149721  42.951801
--------------------------------------
df1按照索引排序:
           a          b          c          d
2  79.346925   0.764017  14.149721  42.951801
3  15.206742  66.308490  77.365875  22.834827
4  78.409482  66.932160  95.032126   4.931172
5   4.542951  73.361255  81.060015  75.963579
--------------df2:----------------
           a          b          c          d
h  60.060786  72.127402  89.644130  75.365754
s  35.316899   9.804425  30.154542  94.054218
x  38.900973   0.745579  56.755278  52.378376
g  66.918160  21.778740  71.999138  93.181842
df2按照索引排序:
           a          b          c          d
x  38.900973   0.745579  56.755278  52.378376
s  35.316899   9.804425  30.154542  94.054218
h  60.060786  72.127402  89.644130  75.365754
g  66.918160  21.778740  71.999138  93.181842

In [33]:
# fillna() 填充缺失数据,使用指定的方法填充NA / NaN值。
df3 = pd.DataFrame([[1,2,3],[np.nan,np.nan,2],[np.nan,np.nan,np.nan],[8,8,np.nan]])
print(df3)

# 用常数填充
df3.fillna(100)

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN

       0      1      2
0    1.0    2.0    3.0
1  100.0  100.0    2.0
2  100.0  100.0  100.0
3    8.0    8.0  100.0

In [34]:
# 通过字典填充不同的常数
df3.fillna({0:100,1:200,3:400})

       0      1    2
0    1.0    2.0  3.0
1  100.0  200.0  2.0
2  100.0  200.0  NaN
3    8.0    8.0  NaN

In [35]:
# 传入inplace=True直接修改原对象
df3.fillna(11,inplace=True)  # 默认inplace为False
print('df3已被改变:',df3,sep='\n')

df3已被改变:
      0     1     2
0   1.0   2.0   3.0
1  11.0  11.0   2.0
2  11.0  11.0  11.0
3   8.0   8.0  11.0

In [38]:
# 传入method='ffill/bfill',改变插值方式
df4 = pd.DataFrame(np.random.randint(0,10,(5,5)))
df4.iloc[1:4,3] = np.nan
df4.iloc[2:4,4] = np.nan
df4

   0  1  2    3    4
0  0  8  3  1.0  3.0
1  6  1  1  NaN  0.0
2  9  7  2  NaN  NaN
3  6  3  3  NaN  NaN
4  6  4  5  0.0  8.0

In [41]:
# method='ffill',用前面的值来填充,bfil
df4.fillna(method='ffill')

   0  1  2    3    4
0  0  8  3  1.0  3.0
1  6  1  1  1.0  0.0
2  9  7  2  1.0  0.0
3  6  3  3  1.0  0.0
4  6  4  5  0.0  8.0

In [43]:
# method='bfill',用后面的值来填充
df4.fillna(method='bfill')

   0  1  2    3    4
0  0  8  3  1.0  3.0
1  6  1  1  0.0  0.0
2  9  7  2  0.0  8.0
3  6  3  3  0.0  8.0
4  6  4  5  0.0  8.0

In [46]:
# limit='' 限制填充个数
df4.fillna(method='ffill',limit=2)  # 填充2个NaN值

   0  1  2    3    4
0  0  8  3  1.0  3.0
1  6  1  1  1.0  0.0
2  9  7  2  1.0  0.0
3  6  3  3  NaN  0.0
4  6  4  5  0.0  8.0

In [49]:
# 传入axis='' 修改填充方向
print(df4)

print("df4.fillna(method='ffill',axis = 1)后,结果为:",df4.fillna(method='ffill',axis=1),sep='\n')
# axis=1 修改为按列的方向,默认axis=0(按行的方向)

   0  1  2    3    4
0  0  8  3  1.0  3.0
1  6  1  1  NaN  0.0
2  9  7  2  NaN  NaN
3  6  3  3  NaN  NaN
4  6  4  5  0.0  8.0
df4.fillna(method='ffill',axis = 1)后,结果为:
     0    1    2    3    4
0  0.0  8.0  3.0  1.0  3.0
1  6.0  1.0  1.0  1.0  0.0
2  9.0  7.0  2.0  2.0  2.0
3  6.0  3.0  3.0  3.0  3.0
4  6.0  4.0  5.0  0.0  8.0